section {
    border-bottom: 5px black solid;
    padding-bottom: 50px;
}
section:last-child {
    border-bottom: none;
   }

/* début exo 01 les_hover_01 */

.bg-color {
    height: 150px;
    width: 150px;
    background-color: lightblue;
}
.bg-color:hover{
    background-color: yellow;
    
}

/* fin exo 01 les_hover_01 */



/* début exo 02 les_hover_02 */

.height_and_width{
background-color: lightblue;
height: 150px;
width: 150px;
}

.height_and_width:hover{
    background-color: lightblue;
    height: 200px;
    width: 500px;
    }

/* fin exo 02 les_hover_02 */



/* début exo 03 les_focus_03 */

.action
{  
border: blue;
border-radius: 10px;
}


/* fin exo 03 les_focus_03 */



/* début exo 04 les transitions */


.transition_04
{
    background-color: yellow;
    width: 150px;
    height: 150px;
    transition: 4s;

}

.transition_04:hover
{
    background-color: red;
    width: 150px;
    height: 150px;

}

/* fin exo 04 les transitions */



/* début exo 05 les transitions */


.transition_05{
    background-color: orange;
    width: 150px;
    height: 150px;
    transition: 2s;

}

.transition_05:hover
{
    background-color: purple;
    width: 150px;
    height: 150px;
    border-radius: 50%;


}

/* fin exo 05 les transitions */



/* début exo 06 les transitions */

.transition_06{
    background-color: grey;
    width: 50px;
    height: 150px;
    transition: 3s;

}
.transition_06:active
{
 margin: 300px;
}

/* fin exo 06 les transitions */



/* début exo 07 les transitions */


.transition_07{

    background-color: green;
    height: 150px;
    width: 50px;
    transition: 3s;
    transition-timing-function: ease;
}
.transition_07:active{

    margin: 80%;

}

/* fin exo 07 les transitions */



/* début exo 08 les transitions */

.transition_08{

    background-color: lightblue;
    height: 150px;
    width: 50px;
    transition: 3s;
    transition-timing-function: ease-in-out;
}
.transition_08:active{

    margin-left: 80%;
    border-radius: 50%;
    height: 50px;
    background-color: purple;

}

/* fin exo 08 les transitions */



/* début exo 09 les transitions */


.transition_09{

    background-color: blue;
    height: 150px;
    width: 150px;
    transition-timing-function: ease-in-out;
}
.transition_09_enfant{
width: 20%;
    height: 20%;
    background-color: purple;
    transition: 3s;
}

.transition_09:active .transition_09_enfant{

    background: red;
}



/* fin exo 09 les transitions */



/* début exo 10 les transitions */

.transition_10{

    background-color: yellow;
    height: 150px;
    width: 150px;
    transition-timing-function: ease-in-out;
}


.transition_10:active{

    margin-left: 50%;
    height: 150px;
    width: 150px;
    background-color: green;
    border-radius: 50%;

}


.transition_10_intrus{

    background-color: grey;
    height: 50px;
    width: 50px;
border-radius: 50%;
}


.transition_10:active .transition_10_intrus{

    background: red;
}



/* fin exo 10 les transitions */

